---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/curated?page=452&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001a9099b0e2801496db40fb7cfd0801845
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2f72860fe01f6c038208b81f2479a9a"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19959'
      X-Ratelimit-Reset:
      - '1549568384'
    body:
      encoding: ASCII-8BIT
      string: '{"page":452,"per_page":1,"photos":[{"id":1726955,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/snow-covered-mountain-1726955/","photographer":"Francesco
        Ungaro","photographer_url":"http://api-server.pexels.com/@ghostpresenter","src":{"original":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg","large2x":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","square":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=1200&w=1200","landscape":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/1726955/pexels-photo-1726955.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=200&w=280"}}],"next_page":"https://api.pexels.com/v1/curated/?page=453&per_page=1","prev_page":"https://api.pexels.com/v1/curated/?page=451&per_page=1"}'
  recorded_at: Wed, 09 Jan 2019 19:56:55 GMT
[...]
- request:
    method: get
    uri: https://api.pexels.com/v1/curated?page=412&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "error": "Authorization field missing"
        }
  recorded_at: Wed, 09 Jan 2019 22:35:04 GMT
[...]
- request:
    method: get
    uri: https://api.pexels.com/v1/curated?page=1%7D&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "error": "Authorization field missing"
        }
  recorded_at: Tue, 15 Jan 2019 13:15:27 GMT
[...]
- request:
    method: get
    uri: https://api.pexels.com/v1/curated?page=265&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "error": "Authorization field missing"
        }
  recorded_at: Tue, 15 Jan 2019 13:16:57 GMT
recorded_with: VCR 4.0.0
