---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=1&per_page=49&query=love
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001a9099b0e2801496db40fb7cfd0801845
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"003e6c6031997d4623c8d437ad533e83"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19922'
      X-Ratelimit-Reset:
      - '1549568384'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":49,"total_results":26,"url":"http://api-videos.pexels.com/search/love","videos":[{"id":1466210,"width":1920,"height":1080,"url":"https://videos.pexels.com/videos/a-day-in-the-park-1466210","image":"https://static-videos.pexels.com/videos/1466210/free-video-1466210.jpg","full_res":null,"duration":15,"video_files":[{"id":59278,"quality":"sd","file_type":"video/mp4","width":960,"height":540,"link":"https://player.vimeo.com/external/293348993.sd.mp4?s=a81e6edc8452264e27a18e4259061cb6e9e5d6aa\u0026profile_id=165\u0026oauth2_token_id=57447761"},{"id":59279,"quality":"hd","file_type":"video/mp4","width":1920,"height":1080,"link":"https://player.vimeo.com/external/293348993.hd.mp4?s=d8a699bd09b3b9ab92ae631b75a7a6267ac5e0ac\u0026profile_id=175\u0026oauth2_token_id=57447761"},{"id":59280,"quality":"hd","file_type":"video/mp4","width":1280,"height":720,"link":"https://player.vimeo.com/external/293348993.hd.mp4?s=d8a699bd09b3b9ab92ae631b75a7a6267ac5e0ac\u0026profile_id=174\u0026oauth2_token_id=57447761"},{"id":59281,"quality":"sd","file_type":"video/mp4","width":640,"height":360,"link":"https://player.vimeo.com/external/293348993.sd.mp4?s=a81e6edc8452264e27a18e4259061cb6e9e5d6aa\u0026profile_id=164\u0026oauth2_token_id=57447761"},{"id":59282,"quality":"hls","file_type":"video/mp4","width":null,"height":null,"link":"https://player.vimeo.com/external/293348993.m3u8?s=d3329473d65c09ab662c5d080db1751b22653456\u0026oauth2_token_id=57447761"}],"video_pictures":[{"id":135171,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/preview-0.jpg","nr":0},{"id":135172,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/preview-1.jpg","nr":1},{"id":135173,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/preview-2.jpg","nr":2},{"id":135174,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/preview-3.jpg","nr":3},{"id":135175,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/preview-4.jpg","nr":4},{"id":135176,"picture":"https://static-videos.pexels.com/videos/1466210/pictures/[...]
[...]
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=1&per_page=71&query=love
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "error": "Authorization field missing"
        }
  recorded_at: Mon, 14 Jan 2019 19:46:47 GMT
recorded_with: VCR 4.0.0
