---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?page=1&per_page=15&query=nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001a9099b0e2801496db40fb7cfd0801845
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c995fb21595b04270f94299a5d39f046"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19923'
      X-Ratelimit-Reset:
      - '1549568384'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"total_results":1559,"url":"http://api-videos.pexels.com/search/nature","videos":[{"id":857195,"width":1280,"height":720,"url":"https://videos.pexels.com/videos/time-lapse-video-of-night-sky-857195","image":"https://static-videos.pexels.com/videos/857195/free-video-857195.jpg","full_res":null,"duration":7,"video_files":[{"id":9015,"quality":"sd","file_type":"video/mp4","width":640,"height":360,"link":"https://player.vimeo.com/external/189545487.sd.mp4?s=8cd2af1ec08f7ce121a5a6a09c78c05237943524\u0026profile_id=164\u0026oauth2_token_id=57447761"},{"id":9016,"quality":"hd","file_type":"video/mp4","width":1280,"height":720,"link":"https://player.vimeo.com/external/189545487.hd.mp4?s=131fa753bd9d7d6085af29f3603f4b65cbb3ab31\u0026profile_id=174\u0026oauth2_token_id=57447761"},{"id":9017,"quality":"sd","file_type":"video/mp4","width":960,"height":540,"link":"https://player.vimeo.com/external/189545487.sd.mp4?s=8cd2af1ec08f7ce121a5a6a09c78c05237943524\u0026profile_id=165\u0026oauth2_token_id=57447761"},{"id":9018,"quality":"hls","file_type":"video/mp4","width":null,"height":null,"link":"https://player.vimeo.com/external/189545487.m3u8?s=d35298d7880d7056964e7738f358f60202f75ee7\u0026oauth2_token_id=57447761"}],"video_pictures":[{"id":12841,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-0.jpg","nr":0},{"id":12842,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-1.jpg","nr":1},{"id":12843,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-2.jpg","nr":2},{"id":12844,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-3.jpg","nr":3},{"id":12845,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-4.jpg","nr":4},{"id":12846,"picture":"https://static-videos.pexels.com/videos/857195/pictures/preview-5.[...]
